In [5]:
# 01 조건문의 참과 거짓

a = "Life is too short, you need python" 

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [7]:
# 3의 배수의 합 구하기

result = 0 
i = 1 

while i <= 1000: 
    if i % 3 == 0:
        result = result + i
        # result += i
    i += 1


print(result)

166833

In [8]:
# 3 별 표시하기 

i = 0
while True: 
    i = i + 1
    # i += 1 
    if i > 5: break
    print("*" * i)

*
**
***
****
*****

In [14]:
# 4. 1부터 100까지 출력하기

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [15]:
# 5. 평균 점수 구하기 

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0 

for score in A: 
    # total = total + score
    total += score

average = total / len(A)
print(average)

79.0

In [16]:
# 6. 리스트 컴프리헨션 사용하기 

numbers = [ 1, 2, 3, 4, 5]
result = [] 

for n in numbers: 
    if n % 2 == 1: 
        result.append(n * 2)

print(result)

[2, 6, 10]

In [18]:
numbers = [ 1, 2, 3, 4, 5]
result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]