### 문자열은 어떻게 만들고 사용할까?

In [1]:
# 큰따옴표 

a = "Hello World"
print(a)

Hello World

In [2]:
# 작은따옴표

b = 'Python is fun'
print(b)

Python is fun

In [3]:
# 큰따옴표 3개를 연속으로 

c = """ 
Life is too short, You need python
"""

print(c)

Life is too short, You need python

In [4]:
# 작은따옴표 3개를 연속으로 

d = '''Life is too short, You need python'''
print(d)

Life is too short, You need python

In [7]:
a = "Python's favorite food is perl"
print(a)

Python"s favorite food is perl

In [8]:
b = '"Python is very easy." he says'
print(b)

"Python is very easy." he says

In [10]:
food = 'Python\'s favorite food is perl'
print(food)

say = "\"Python is very easy.\" he says"
print(say)

Python's favorite food is perl
"Python is very easy." he says

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [11]:
# 이스케이프 코드 \n 

multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [14]:
# 작은따옴표3개, 큰따옴표3개

multiline = ''' 
Life is too short
You need python
'''
multiline2 = """ 
Life is too short
You need python
"""

print(multiline)
print(multiline2)

    Life is too short
    You need python


Life is too short
You need python

### 문자열 연산하기
* 문자열을 더하거나 곱할 수 있다.

In [16]:
# 문자열 더해서 연결하기 

head = "Pyhton"
tail = " is fun" 

head + tail

'Pyhton is fun'

In [20]:
# 문자열 곱하기 
a = "python" 

print(a * 2)

pythonpython

In [24]:
print("=" * 50)
print("My program " * 4)
print("=" * 50)

==================================================
My program My program My program My program
==================================================

In [1]:
# 문자열 길이 구하기 len()

a = "Life is too short, You need python"
print("a: ", len(a))

b = "python "
print("b: ", len(b))

a:  34
b:  7

### 문자열 인덱싱과 슬라이싱

In [31]:
a = "Life is too short, You need python"
print(len(a))

print(a[0])
print(a[1])
print(a[2])
print(a[3])

print(a[-1])
print(a[-2])

34
L
i
f
e
n
o

In [32]:
print(a[0] + a[1] + a[2] + a[3])

Life

In [37]:
a = "Life is too short, You need python"
print(a[0:3])
print(a[0:4])
print(a[0:5])
print(a[0:6])

print(a[8:11])

Lif
Life
Life
Life i
too

In [43]:
a = "Life is too short, You need python"

print(a[5:7])
print(a[12:17])
print(a[19: ])
print(a[ :19])
print(a[:])
print(a[0:-1])

is
short
You need python
Life is too short,
Life is too short, You need python
Life is too short, You need pytho

In [44]:
a = "20240806Sunny"

year = a[0:4]
day = a[4:8]
weather = a[8:13]

print("year: ", year)
print("day: ", day)
print("weather: ", weather)

year:  2024
day:  0806
weather:  Sunny

In [47]:
# 문자열 바꾸기

a = "pithon"
a[1] = "y"

TypeError: 'str' object does not support item assignment

In [50]:
a = "Pithon" 

print(a[:1])
print(a[2:])

print(a[:1] + 'y' + a[2:])

P
thon
Python

### 문자열 포매팅

In [51]:
# 숫자 바로 대입

a = 3 
print("I eat %d apples" % a)

I eat 3 apples

In [53]:
b = "python" 
print("I eat %s apples" % b)

I eat python apples

In [54]:
# 문자열 바로 대입
print("I eat %s apples" % "five")

I eat five apples

In [55]:
# 숫자 값을 나타내는 변수로 대입

number = 3
print("I eat %d apples" % number)

I eat 3 apples

In [56]:
# 2개의 이상의 값 넣기 
number = 10 
day = "three" 

print("I ate %d apples, so I was sick for %s days" % (number, day))

I ate 10 apples, so I was sick for three days

In [62]:
a = 98
print("Error is %d %%" % a)
print(f"Error is {a} %")

Error is 98 %
Error is 98 %

* a = "20240807Rainy" 
* 출력값을 "2024년 8월 7일 오늘의 날씨는 Rainy 입니다."

In [5]:
a = "20240807Rainy" 

year = a[0:4]
month = a[5:6]
day = a[7:8]
weather = a[8:]

print(f"{year}년 {month}월 {day}일 오늘의 날씨는 {weather} 입니다")
print(f"{a[0:4]}년 {a[5:6]}월 {a[7:8]}일 오늘의 날씨는 {a[8:]} 입니다")

2024년 8월 7일 오늘의 날씨는 Rainy 입니다
2024년 8월 7일 오늘의 날씨는 Rainy 입니다

### 포맷 코드와 숫자 함께 사용하기

In [10]:
# 정렬과 공백

a = "hello"
print("안녕하세요 %s 저는 파이썬을 좋아해요 " % a)

# 오른쪽 정렬
print("안녕하세요 %10s 저는 파이썬을 좋아해요 " % a)

# 왼쪽 정렬
print("안녕하세요 %-10s 저는 파이썬을 좋아해요 " % a)

안녕하세요 hello 저는 파이썬을 좋아해요
안녕하세요      hello 저는 파이썬을 좋아해요
안녕하세요 hello      저는 파이썬을 좋아해요

In [14]:
# 소수점 표현하기 

a = 3.42133224

print("소수점으로 %f" % a)
print("소수점으로 %0.4f" % a)
print("소수점으로 %.4f" % a)

소수점으로 3.421332
소수점으로 3.4213
소수점으로 3.4213

### format 함수를 사용한 포매팅

In [22]:
# 숫자 바로 대입하기 

print("I eat {0} apples".format(3))

# 문자열 바로 대입
print("I eat {0} apples".format("five"))

# 숫자 값을 변수로 대입
number = 3
print("I eat {0} apples".format(number))

I eat 3 apples
I eat five apples
I eat 3 apples

In [27]:
# 2개 이상의 값을 넣기 

number = 10 
day = "three"
print("I ate {0} apples. so I was sick {1} days".format(number, day))

# 이름으로 넣기 
print("I ate {number} apples. so I was sick {day} days".format(number=10, day=3))

# 인덱스, 이름 혼용사용
print("I ate {0} apples. so I was sick {day} days".format(number, day=3))

I ate 10 apples. so I was sick three days
I ate 10 apples. so I was sick 3 days
I ate 10 apples. so I was sick 3 days

In [33]:
# 왼쪽정렬
print("정렬 {0} 입니다".format("hi"))
print("정렬 {0:<10} 입니다".format("hi"))

# 오른쪽정렬
print("정렬 {0:>10} 입니다".format("hi"))

# 중간정렬
print("정렬 {0:^10} 입니다".format("hi"))

정렬 hi 입니다
정렬 hi         입니다
정렬         hi 입니다
정렬     hi     입니다

In [39]:
# 공백채우기 
print("공백 {0}".format("hi"))
print("공백 {0:=^10}".format("hi"))
print("공백 {0:*^10}".format("hi"))
print("공백 {0:*<10}".format("hi"))
print("공백 {0:*>10}".format("hi"))
print("공백 {0:!>10}".format("hi"))

공백 hi
공백 ====hi====
공백 ****hi****
공백 hi********
공백 ********hi
공백 !!!!!!!!hi

In [49]:
# 소수점 표현하기 

y = 3.42134234

print("소수점자리표현: {0}".format(y))
print("소수점자리표현: {0:0.4f}".format(y))
print("소수점자리표현: {0:.4f}".format(y))
print("소수점자리표현: {0:10.4f}".format(y))
print("소수점자리표현: {0:^10.4f}".format(y))
print("소수점자리표현: {0:$^10.4f}".format(y))
print("소수점자리표현: {0:❤^10.4f}".format(y))

# {또는} 문자 표현
print("문자표현: {{and}}".format())
print("문자표현: {{}}".format())

소수점자리표현: 3.42134234
소수점자리표현: 3.4213
소수점자리표현: 3.4213
소수점자리표현:     3.4213
소수점자리표현:   3.4213
소수점자리표현: $$3.4213$$
소수점자리표현: ❤❤3.4213❤❤
문자표현: {and}
문자표현: {}

### f 문자열 포매팅

In [51]:
name = "홍길동"
age = 30 

print(f"나의 이름은 {name}입니다. 나이는 {age}입니다.")
print(f"나의 이름은 {name}입니다. 나이는 {age + 10}입니다.")

나의 이름은 홍길동입니다. 나이는 30입니다.
나의 이름은 홍길동입니다. 나이는 40입니다.

In [52]:
d = {"name": "홍길동", "age": 30}
print(f"나의 이름은 {d["name"]}입니다. 나이는 {d['age']}입니다.")

나의 이름은 홍길동입니다. 나이는 30입니다.

In [60]:
a = "hi"

print("f포매팅 정렬방법")
print(f"f포매팅 정렬방법 {a} 입니다")

# 왼쪽정렬
print(f"f포매팅 정렬방법 {a:<10} 입니다")

# 오른쪽정렬
print(f"f포매팅 정렬방법 {a:>10} 입니다")

# 중앙정렬
print(f"f포매팅 정렬방법 {a:^10} 입니다")

# 공백 채우기
print(f"f포매팅 정렬방법 {a:-^10} 입니다")

f포매팅 정렬방법
f포매팅 정렬방법 hi 입니다
f포매팅 정렬방법 hi         입니다
f포매팅 정렬방법         hi 입니다
f포매팅 정렬방법     hi     입니다
f포매팅 정렬방법 ----hi---- 입니다

In [66]:
y = 3.42134234

print("소수점표현방식: ")
print(f"소수점표현방식: {y}")
print(f"소수점표현방식: {y:0.4f}")
print(f"소수점표현방식: {y:10.4f}")
print(f"소수점표현방식: {y:^10.4f}")
print(f"소수점표현방식: {y:-<10.4f}")

소수점표현방식:
소수점표현방식: 3.42134234
소수점표현방식: 3.4213
소수점표현방식:     3.4213
소수점표현방식:   3.4213
소수점표현방식: 3.4213----

### 문자열 관련 함수들

In [75]:
# 문자 개수 구하기
a = "hobby" 
print("count(): ", a.count("b"))

# 위치 알려주기 find()
b = "Python is the best choice"
print("find(): ", b.find("b"))
print("찾지못했을때 반환하는 값: ", b.find("k"))

# 위치 알려주기 index()
c = "Life is too short" 
print("index(): ", c.index("t"))
print("찾지못했을때 반환하는 값: ", c.index("k"))

count():  2
find():  14
찾지못했을때 반환하는 값:  -1
index():  8

ValueError: substring not found

In [77]:
# 문자열 삽입 join()

",".join("abcd")

'a,b,c,d'

In [79]:
# upper()
a = "hi" 
print(a.upper())

# lower() 
b = "HELLO" 
print(b.lower())

HI
hello

In [84]:
a = "     hi     "
print(f"|{a}|")

# 왼쪽 공백지우기 lstrip()
print(f"|{a.lstrip()}|")

# 오른쪽 공백지우기 rstrip()
print(f"|{a.rstrip()}|")

# 양쪽 공백지우기 strip()
print(f"|{a.strip()}|")

|     hi     |
|hi     |
|     hi|
|hi|

In [85]:
# 문자열 바꾸기 replace()

a = "Life is too short" 
print(a.replace("Life", "Your leg"))

Your leg is too short

In [92]:
# 문자열 나누기 split() -> List[]

a = "Life is too short" 
b = a.split()

print(b)
print(type(b))

c = "a:b:c:d"
print(c.split())
print(c.split(":"))

d = "사과,감자,수박,포도"
print(d.split())
print(d.split(","))

['Life', 'is', 'too', 'short']
<class 'list'>
['a:b:c:d']
['a', 'b', 'c', 'd']
['사과,감자,수박,포도']
['사과', '감자', '수박', '포도']