1. scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78} Charlie의 점수를 출력하세요

In [2]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

print(scores["Charlie"])
print(scores.get("Charlie"))

78
78

2. person = {'name': 'Alice', 'age': 25} 주어졌을 때 이름과 나이를 출력하는 프로그램을 만드세요.

In [3]:
person = {'name': 'Alice', 'age': 25} 
print(f'이름은 {person["name"]}이고, 나이는 {person["age"]} 입니다. ')

이름은 Alice이고, 나이는 25 입니다.

3. grades = {'math': 90, 'science': 85, 'english': 88} 주어진 딕셔너리의 과목의 합과 평균을 구해주세요

In [7]:
grades = {'math': 90, 'science': 85, 'english': 88}

sum = grades['math'] + grades['science'] + grades['english']
avg = sum / 3

print(f"과목의 합계는: {sum}이고, 평균은: {avg:.2f}입니다.")

과목의 합계는: 263이고, 평균은: 87.67입니다.

4. employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000} 에서 salary 요소를 삭제해 주세요

In [8]:
employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000} 
del employee['salary']

print(employee)

{'name': 'ken', 'position': 'Manager'}

5. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 "김치": 5000 을 추가해 주세요 |

In [9]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}

foods["김치"] = 5000

print(foods)

{'딸기': 1000, '사과': 2000, '수박': 3000, '김치': 5000}

6. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 수박이 있으면 True 를 출력하는 프로그램을 만드세요

In [11]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}

print("수박" in foods)

True