In [2]:
# 1. 평균점수구하기 
ko = 80
en = 75 
ma = 55 

print(f"국어, 영어, 수학의 평균점수는 {(ko + en + ma) / 3:.2f}입니다.")

국어, 영어, 수학의 평균점수는 70.00입니다.

In [5]:
# 2. 홀수, 짝수 판별하기 
num = 14 
print(num % 2)

if (num % 2):
    print("홀수")
else: 
    print("짝수")

0
짝수

In [6]:
# 3. 주민등록번호 나누기
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [7]:
# 4. 주민등록번호 인덱싱
pin = "881120-1068234"
print(pin[7])

1

In [8]:
# 5. 문자열 바꾸기 
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [12]:
# 6. 리스트 역순 정렬하기 
a = [1, 3, 5, 4, 2]
a.sort()
# a.sort(reverse=True)
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [21]:
# 7. 리스트를 문자열로 만들기
a = ["Life", "is", "too", "short"]
result = " ".join(a)
print(result)

b = "hello"
result2 = ",".join(b)
print(result2)

Life is too short
h,e,l,l,o

In [24]:
# 8. 튜플더하기
a = (1, 2, 3) 
print("더하기 전: ", id(a))
a = a + (4,)
print("더하기 후: ", id(a))
print(a)


# 참고(리스트)
b = [1, 2, 3]
print(b)
print(id(b))

b.append(4)
print(b)
print(id(b))

더하기 전:  2558244978816
더하기 후:  2558245304768
(1, 2, 3, 4)
[1, 2, 3]
2558245006592
[1, 2, 3, 4]
2558245006592

In [29]:
# 9. 딕셔너리의 키
# a = {}
a = dict()
print("처음: ", a)

a["name"] = "python"
print("1: ", a)

a[("a",)] = "python"
print("2: ", a)

# a[[1]] = "python"
# print("3: ", a)

a[250] = "python"
print("4: ", a)

처음:  {}
1:  {'name': 'python'}
2:  {'name': 'python', ('a',): 'python'}
4:  {'name': 'python', ('a',): 'python', 250: 'python'}

In [32]:
# 10. 딕셔너리 값 추출하기
a = {"A": 90, "B": 80, "C": 70}
result = a.pop("B")
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [35]:
# 11. 리스트에서 중복 제거하기 
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [36]:
# 12. 파이썬 변수 
a = b = [1, 2, 3]
a[1] = 4 
print(b)

[1, 4, 3]