1. 사용자로 부터 입력 받은 수를 num 이라는 변수에 담고, 그 수를 3.141592를 곱한 뒤 소수 1번째 자리까지만 나오도록 출력하세요

In [5]:
num = int(input("숫자를 입력하세요: "))
print(f"당신이 입력한 값은 : {num}이고, 계산 값은: {num * 3.141592:.1f}")

당신이 입력한 값은 : 1이고, 계산 값은: 3.1

2. 사용자로부터 입력받은 초(second)를 시간, 분, 초로 변환하여 출력하는 프로그램을 작성하세요 (출력예시: 1시간 1분 1초)

In [17]:
inputNum = int(input("초를 입력주세요: "))

hour = inputNum // (60 * 60) 
minute = inputNum % (60 * 60) // 60
second = inputNum % 60

print(f"{hour}시간 {minute}분 {second}초")

2시간 1분 1초

3. 아래 스크립트에서 '올림픽'이라는 글자 몇 번 출력되는가?  
* script = "하계 올림픽에 48년 만에 최소 선수(144명)를 보낸 대한민국 선수단이 2024 파리 올림픽에서 거침없이 금메달을 수집 중이다.
파리 올림픽 태권도 남자 58㎏급에 출전한 박태준(20·경희대)은 7일(현지시간) 우리나라 남자 태권도 선수로는 16년 만에 올림픽 금메달을 목에 걸고 이번 대회 한국 선수단에 12번째 금메달을 선사했다."

In [18]:
script = """하계 올림픽에 48년 만에 최소 선수(144명)를 보낸 대한민국 선수단이 2024 파리 올림픽에서 거침없이 금메달을 수집 중이다.
파리 올림픽 태권도 남자 58㎏급에 출전한 박태준(20·경희대)은 7일(현지시간) 우리나라 남자 태권도 선수로는 16년 만에 올림픽 금메달을 목에 걸고 이번 대회 한국 선수단에 12번째 금메달을 선사했다."""

print(script.count("올림픽"))

4

4. 위 스크립트에서 ( ) -> [ ] 변경해 주세요

In [20]:
script.replace("(", "[").replace(")", "]")

'하계 올림픽에 48년 만에 최소 선수[144명]를 보낸 대한민국 선수단이 2024 파리 올림픽에서 거침없이 금메달을 수집 중이다.\n파리 올림픽 태권도 남자 58㎏급에 출전한 박태준[20·경희대]은 7일[현지시간] 우리나라 남자 태권도 선수로는 16년 만에 올림픽 금메달을 목에 걸고 이번 대회 한국 선수단에 12번째 금메달을 선사했다.'

5. a = "python" 를 ["p", "y", "t", "h", "o", "n"] 으로 만들어보세요

In [2]:
a = "python"
b = ",".join(a)
print(b)

c = b.split(",")
print(c)

p,y,t,h,o,n
['p', 'y', 't', 'h', 'o', 'n']

6. 문자열 a = "hello World from Python" 을 ["hello", "World", "from", "Python"] 로 변환시키고 입력받은 이름을 리스트 마지막에 추가히세요

In [8]:
a = "hello World from Python"

b = a.split()
print(b)

name = input("당신의 이름을 입력해 주세요: ")
b.append(name)

print(b)

['hello', 'World', 'from', 'Python']
['hello', 'World', 'from', 'Python', '']

7. a = [], fav = ["사과", "포도", "배", "감자", "수박", "옥수수", "고구마", "딸기"] 에서 "딸기"와 "고구마"를 뺀 나머지 리스트를 pop() 이용하여 출력하고, 추출한 "딸기"와 "고구마"를 a 리스트에 append()를 활용하여 추가하세요

In [14]:
a = []
fav = ["사과", "포도", "배", "감자", "수박", "옥수수", "고구마", "딸기"]

sb = fav.pop()
sp = fav.pop()
print(fav)

a.append(sb)
a.append(sp)

print(a)

['사과', '포도', '배', '감자', '수박', '옥수수']
['딸기', '고구마']

8. fav = ["사과", "포도", "배", "감자", "수박", "옥수수", "고구마", "딸기"] 리스트 슬라이싱을 활용하여 ["배", "감자", "수박", "옥수수"] 만들어서 b 변수에 대입하세요 그리고 사용자로부터 가장 좋아하는 음식을 입력받아서 b리스트의 3번째 요소에 입력하세요

In [16]:
fav = ["사과", "포도", "배", "감자", "수박", "옥수수", "고구마", "딸기"]

b = fav[2:6]
print(b)

food = input("당신의 가장 좋아하는 음식을 입력해 주세요: ")
b.insert(2, food)
print(b)

['배', '감자', '수박', '옥수수']
['배', '감자', '김밥', '수박', '옥수수']