### 집합자료형
* 중복을 허용하지 않는다. 
* 순서가 없다

In [2]:
s1 = set([1, 2, 3])
dic = {"name": "pey", "age": 30}

# 집합자료형
print(s1)
print(type(s1))

# 딕셔너리
print(dic)
print(type(dic))

{1, 2, 3}
<class 'set'>
{'name': 'pey', 'age': 30}
<class 'dict'>

In [3]:
s2 = set("hello")
print(s2)
print(type(s2))

{'o', 'h', 'e', 'l'}
<class 'set'>

In [9]:
# 집합자료형
s1 = set([1, 2, 3])
print(s1)
print(type(s1))

# 집합자료형에서는 인덱싱을 지원하지 않음
# print(s1[1])


# 리스트함수를 통해 자료형 변환
l1 = list(s1)
print(l1)
print(type(l1))
print(l1[1])


# 튜플함수를 이용해 자료형 변환
t1 = tuple(s1)
print(t1)
print(type(t1))

{1, 2, 3}
<class 'set'>
[1, 2, 3]
<class 'list'>
2
(1, 2, 3)
<class 'tuple'>

### 교집합, 합집합, 차집합 구하기 
* &, |, -

In [11]:


test = {1, 2, 3, 4, 5, 6}
print(test)
print(type(test))

test2 = {"name": "pey", "age": 30}
print(test2)
print(type(test2))

{1, 2, 3, 4, 5, 6}
<class 'set'>
{'name': 'pey', 'age': 30}
<class 'dict'>

In [16]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
result = s1 & s2

# 교집합 
print(result)
print(list(result))

# 교집합 - intersection()
reuslt = s1.intersection(s2)
print(result)

{4, 5, 6}
[4, 5, 6]
{4, 5, 6}

In [19]:
# 합집합 (|)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

result = s1 | s2
print(result)
print(type(result))

#합집합 - union()
result = s1.union(s2)
print("union() 함수를 이용한 결과: ", result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>
union() 함수를 이용한 결과:  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 차집합 ( - )
result1 = s1 - s2
print(result1)

result2 = s2 - s1 
print(result2)

# 차집합 - difference()
result1 = s1.difference(s2)
print(result1)

result2 = s2.difference(s1)
print(result2)

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

### 집합자료형 관련함수

In [27]:
# 값 1개 추가하기 - add()

s1 = set([1, 2, 3])
s1.add(4)
print(s1)

# 요소 한 개만 추가가 가능
# s1.add([2,3])
# print(s1)

{1, 2, 3, 4}

In [30]:
# 값 여러 개 추가하기 - update()

# s1 = {1, 2, 3}
s1 = set({1, 2, 3})
s1.update([4, 5, 6])
print(s1)

# 하나의 요소로는 업데이트의 인수로 받을 수 없음
# s1.update(7)
# print(s1)

# 하나의 리스트 요소로는 업데이트의 인수로 사용이 가능
s1.update([7])
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [31]:
# 특정 값 제거하기 - remove()
# s1 = {1, 2, 3}
s1 = set([1, 2, 3])
s1.remove(2)

print(s1)

{1, 3}

In [38]:
script1 = "외국계 쇼핑몰의 공습으로 국내 기업의 어려움이 가중되고 있습니다"
script2 = "여름이면 시원한 미숫가루 생각이 납니다"
s1 = script1.split()
s2 = script2.split()

s1 = set(s1)
s2 = set(s2)

result = s1.union(s2)
result = list(result)
print(result)

['미숫가루', '시원한', '국내', '있습니다', '쇼핑몰의', '공습으로', '외국계', '기업의', '납니다', '여름이면', '생각이', '가중되고', '어려움이']